*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212 !important;
  overflow: hidden;
  min-height: 100vh;
}
button{
  border: none;
  background-color: transparent;
}
#mainList{
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  left: 35%;
  transition: all 0.4s ease;
}
.card-item{
  width: 157px;
  background-color: #ccc;
  height: 277px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  top: -55px;
  display: flex;
  transition: all 0.6s ease;
}
.card-img{
  width: 157px !important;
  height: 100%;
}
.item-hide{
  display: none;
}
.arrow-buttons{
  display: none;
}
.card-item:not(:last-child){
  margin-right: 100px;
}
.active{
  height: 657px;
  width: 389px;
}
.active img{
  width: 489px !important;
}
.left-button{
  position: absolute;
  left: -50px;
}
.right-button{
  position: absolute;
  right: -50px;
}
.slider-img{
  position: relative;
}
.slider-icon{
  font-size: 30px;
  color: #fff ;
}

.slider-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slider-line-wrap{
  width: 100%;
  height: 2.5px;
  background-color: #ccc;
  position: relative;
}
.slider-line{
  width: 0;
  height: 2.5px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: inline-block;
  animation: line 10s linear infinite;
}
@keyframes line{
  0%{
   width: 0;
  }
  100%{
    width: 100%;
    background-color: #fff;
  }
}
.slider-avatar{
  border-radius: 50%;
}
.voice-wrapper{
  width: 20px !important;
}
.voice-icons{
  font-size: 25px;
  color: #fff;
}
.slider-input{
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}
.search-input{
  width: 80%;
  background-color: transparent;
  padding: 8px 9px;
  border: 1.5px solid #fff;
  border-radius: 20px;
  color: #fff;
}
.search-input::placeholder{
  color: #fff;
}
.search-input:focus{
  outline: none;
}
.avatar-wrapper{
  height: 100%;
}
.list-wrapper{
  overflow: hidden;
  padding: 50px 0;
  width: 86vw;
  height: 95vh;
  position: absolute;
  left: 10%;
  top: 10px;
}